<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/janaab11/">Code</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
        <a href="https://www.linkedin.com/in/kumarmanas-nethil/">Profile</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-instagram fa-lg main-list-item-icon"></span>
        <a href="https://www.instagram.com/janaqab/">Photos</a>
    </li>
    <li class="main-list-item">
            <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
            <a href="https://twitter.com/janaab_sth/">Tweets</a>
    </li>
</ul>
