<h2>About Me</h2>
<p>
  I lie somewhere between a Data Scientist, Developer and Mathematics student.
  My ideal life would have me building things that support a more open world,
  with occasional breaks for coffee and blackboard mathematics.
</p>
<!-- 
<p></p>

<p>
  I spent four memorable years at the Indian Institute of Technology Kanpur,
  earning a Bachelor of Science in Mathematics and Scientific Computing. While there
  I was also part of a small team that succesfully renewed the rich tradition of 
  <a href="https://www.ted.com/tedx/events/18283">TEDxIITKanpur</a>. I spent a year
  at the University of Cambridge, studying for the Part III in Mathematics. My essay 
  was in the field of Number Theory and dealt with a recent result of 
  <a href="https://www.math.princeton.edu/people/manjul-bhargava">Manjul Bhargava</a>.
</p> -->
