<hr>
<ul class="fa-ul main-list">
    <li class="main-list-item">
        <span class="fa fa-user fa-lg main-list-item-icon"></span>
        <a href="{{ site.url }}{{ site.baseurl }}/about/">More Me</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-star fa-lg main-list-item-icon"></span>
        <a href="{{ site.url }}{{ site.baseurl }}/projects/">Projects</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-suitcase fa-lg main-list-item-icon"></span>
        <a href="https://janaab11.github.io/photo-blog/">Blog</a>
    </li>
    <li class="main-list-item">
        <span class="fa fa-github fa-lg main-list-item-icon"></span>
        <a href="https://github.com/janaab11/janaab11.github.io/">GitHub Repo</a>
    </li>
</ul>